@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-primary: 'Inter', sans-serif;
}

* {
  cursor: none !important;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  font-family: var(--font-primary);
}

h1,
h2,
h3,
.serif {
  font-family: var(--font-primary);
  font-weight: normal;
}

/* Base style for buttons and inputs to inherit font */
button,
input,
textarea {
  font-family: inherit;
}